@import "tailwindcss";

.tarjeta-global {
  border: 1px solid #ddd;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.tarjeta-global:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.titulo-global {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.contenido-global {
  color: #666;
  line-height: 1.6;
}